<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

    <AuthorizeView>
        <Authorized>
            <form id="frm_logout" action="cookie/logout" method="post" style="display:none;"></form>
        </Authorized>
        <NotAuthorized>
            <form id="frm_login" action="cookie/login" method="post" style="display:none;">
                <input id="frm_login_sessionid" type="text" name="session_id" />
            </form>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>